<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Album list</title>
</head>
<body>
    <style>
        .container {
            padding: 5px 20px 10px 20px;
        }
    </style>
    <p>
        <a href="{% url 'music:album_create' %}">New</a>
    </p>
    <div class="container">
        {% for album in album_list %}
        <div>
            <h2>
                {{ album.title }}
            </h2>
            <p>{{ album.artist }}</p>
            <a href="{% url 'music:album_update' album.pk %}">Update</a>
        </div>
        {% empty %}
        <div>
            Empty
        </div>
        {% endfor %}
    </div>
</body>
</html>