{% extends 'base.html' %}
{% block title %}Album Form | {{ block.super }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1>{{ title }}</h1>
                <form action="" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <table class="table">{{ form }}</table>
                    <table class="table">{{ track_formset }}</table>
                    <input class="btn btn-primary" type="submit" value="Save">
                </form>
            </div>
            <div class="col-3">
                <h1>Actions</h1>
                <ul class="list-group">
                    <li class="list-group-item"><a class="btn btn-dark" href="{% url 'music:album_create' %}">Create new Album</a></li>
                    <li class="list-group-item"><a class="btn btn-danger" href="">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}