<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'layout/css.html' %}
    <title>{% block title %}Django Music Form Inline{% endblock %}</title>
</head>
<body>
    <style>
        nav > ul.nav > .nav-item-link {
            margin: 10px;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="{% url 'music:album_list' %}" class="navbar-brand">Music</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'music:album_list' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'music:album_create' %}">Create album</a>
                </li>
            </ul>
            <span class="navbar-text">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </span>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    {% include 'layout/js.html' %}
    {% block script %}
    {% endblock %}
</body>
</html>